/* Global styles */
:root {
    --text: #f5eff5;
    --background: #0d080c;
    --primary: #714770;
    --secondary: #51314e;
    --accent: #a168a0;
}

body {
    background-color: var(--background);
    font-family: Arial, sans-serif;
    color: var(--text);
    margin: 0;
    padding: 0;
}

/* Comment section styles */
.comment-container {
    margin-top: 160px;
    height: 13.33%;
    padding: 20px;
    margin-bottom: 60px;
}

h2 {
    margin: 10px 120px;
    font-size: 24px;
    color: var(--primary);
}

.comment {
    height: 33.33%;
    background-color: var(--background);
    border: 2px solid var(--primary);
    border-radius: 10px;
    margin: 10px 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px var(--primary);
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-header-left {
    font-weight: bold;
    color: var(--text);
}

.comment-header-right {
    color: var(--text);
    font-size: 12px;
}

.comment-body {
    color: var(--text);
}

.comment-form {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: none;
    margin: 0px;
    background-color: var(--background);
    padding: 5px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.textarea-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px; 
    margin-left:134px;
    margin-right:148px;
}

textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--text);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text);
    box-shadow: 0 0 5px var(--background);
    margin-right: 10px;
}

.button {
    padding: 10px;
    background-color: var(--primary);
    color: var(--text);
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 10px var(--primary);
    transition: background-color 0.3s;
}