:root {
    font-size: 16px;
    font-family: Arial, sans-serif;
    --text: #f5eff5;
    --background: #0d080c;
    --primary: #714770;
    --secondary: #51314e;
    --secondary-darker: #41273e;
    --accent: #a168a0;
    --lighter-background: #170e15;
    --ribbon-height: 50px;
}

body {
    height: 100vh;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
}

.navbar::-webkit-scrollbar {
    width: 0.25rem;
}

.navbar::-webkit-scrollbar-track {
    background: var(--secondary);
}

.navbar::-webkit-scrollbar-thumb {
    background: var(--primary);
}

main {
    /* margin-left: 10rem; */
    width: 100dvw;
    padding: 1rem 1rem 0 ;
}

.content-under-ribbon {
    display: flex;
    height: max-content;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: var(--secondary);
    width: 10rem;
    height: 100dvh;
    padding: 0;
    overflow: scroll;
}

.navbar-buttons {
    /* background-color: var(--accent); */
    list-style: none;
    padding: 0.25rem 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-element {
    width: 90%;
    margin-bottom: 0.25rem;
    padding-left: 0.5rem;
    border-radius: 15px;
    background-color: var(--secondary);
    transition: 0.5s;
}

    .nav-element:hover {
        background-color: var(--secondary-darker);
    }

.nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: var(--text);
    text-decoration: none;
}

.link-text {
    margin-left: 2rem;
    align-items: center;
    display: none;
}

h1 {
    margin: 0;
    padding: 0;
}

main h2 {
    margin: 1rem 0 1rem;
    padding: 0;
}


.container-bg {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background-color: var(--lighter-background);
    border-radius: 15px;
    margin-bottom: 1rem;
}

    .container-bg h1 {
        margin: 0 1rem 1rem;
    }

.add-post-container {
    display: flex;
}

.add-post {
    text-decoration: none;
    background-color: var(--primary);
    color: var(--text);
    border: none;
    border-radius: 50%;
    font-size: 24px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Make sure it's positioned relative for absolute tooltip */
    transition: 0.5s;
}

    .add-post:hover {
        background-color: var(--accent);
        color: var(--background);
    }

.tooltip {
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin-left: 10px; /* Adjust the distance between the button and the tooltip */
}

.add-post:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.add-post span {
    margin: 0;
    padding: 0;
}

.icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.post-container {
    background-color: var(--secondary-darker);
    padding: 0.25rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 15px;
}

.post-container h3{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.post-container span {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}


.text-input-popup-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.85);
}

    .text-input-popup-container:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 70px auto;
    padding: 20px;
    background: var(--primary);
    border-radius: 5px;
    width: 30%;
    position: relative;
}

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: var(--background);
    }

        .popup .close:hover {
            color: var(--accent);
        }

    .popup .content {
        max-height: 30%;
        overflow: auto;
    }

.content textarea {
    width: 100%;
    height: 4rem;
    margin-bottom: 1rem;
    border: 1px solid var(--accent);
    border-radius: 5px;
    background-color: var(--secondary-darker);
    color: var(--text);
    box-shadow: 0 0 5px var(--accent);
    max-width: 100%;
}

.type-choice{
    display: flex;
    flex-direction: column;
}

.star-rating {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
}

.star-container {
    position: relative;
    display: flex;
    margin: 0px 7px;
    flex-direction: row-reverse;
}

    .star-container input {
        position: relative;
        margin: 0;
        width: 20px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
        overflow: hidden;
    }

.star-rating form, .comment-input-container form {
    display: flex;
    align-items: center;
    margin: 0;
}

.star-rating .star-container input::before {
    content: '\2605';
    font-size: 37px;
    position: absolute;
    left: 4.2px;
    color: #ccc;
    transition: 0.5s;
}

.star-container input:nth-child(2n+1)::before {
    right: 4px;
    left: initial;
}

.star-container input:hover ~ input::before,
.star-container input:hover::before,
.star-container input:checked ~ input::before,
.star-container input:checked::before {
    color: var(--primary);
}

.submit-button {
    height: 35px;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary);
    color: var(--text);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

    .submit-button:hover {
        background-color: var(--accent); /* Change to the hover color you prefer */
    }