:root {
    --text: #f5eff5;
    --background: #0d080c;
    --primary: #714770;
    --secondary: #51314e;
    --accent: #a168a0;
}

body {
    margin: 0;
    background-image: url('https://images.unsplash.com/photo-1524334228333-0f6db392f8a1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZGFyayUyMHNwYWNlfGVufDB8fDB8fHww&w=1000&q=80');
    font-family: Arial, sans-serif;
    color: var(--text);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.ribbon {
    background-color: #714770;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.text-style {
    color: #f5eff5;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.text-style:hover {
    background-color: #51314e;
}

.mudli {
    font-size: 30px !important;
}

.contactUs-button {
    background-color: transparent;
    color: #f5eff5;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    align-items: center;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

    .contactUs-button:hover {
        background-color: #51314e;
    }

.Name {
    align-items: center;
    display: flex;
    font-size: 30px;
    margin-right: 70vw;
    margin-left: 20px;
}

.ribbon a {
    color: var(--text);
    text-decoration: none;
}

.registration-form {
    background-color: var(--background);
    padding: 20px;
    padding-bottom: 0;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-outline {
    background-color: var(--primary);
    padding: 10px;
    border-radius: 10px;
    width: 95%;
    margin-bottom: 15px;
    border: 2px solid var(--accent);
    box-shadow: 0 0 10px var(--accent);
}

.registration-form h2 {
    margin: 10px;
    color: var(--text);
    text-align: center;
}

.form-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form-container {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

/* Form group common styles */
.form-container .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-container label {
    flex: 1;
    font-weight: bold;
    color: var(--text);
    margin-right: 10px;
    text-align: center;
}

.radio-label input[type="radio"] {
    margin-right: 12px;
}

/* Style the custom radio input when selected */
.radio-label input[type="radio"]:checked + .radio-input {
    background-color: var(--primary);
    border: none; /* Remove the border */
}

/* Form field styles */
.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-group1{
    flex: 2;
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--text);
    border: 1px solid var(--accent);
    box-shadow: 0 0 5px var(--accent);
    transition: 0.3s;
}

/* Form field focus styles */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="email"]:focus,
.form-container select:focus,
.form-container input[type="radio"]:focus,
.form-container select:focus {
    background-color: #714770;
}

/* Form group focus with glow effect styles */
form .form-group.focus-with-glow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #0d080c;
    border-radius: 5px;
    box-shadow: 0 0 5px #0d080c;
    pointer-events: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group1 {
    display: flex;
    flex-direction: column;
}

.form-group1 label {
    font-weight: bold;
    color: var(--text);
    border: 1px solid var(--accent);
    box-shadow: 0 0 5px var(--accent);
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-top: 7px;
    margin-bottom: 7px;
}

.form-group1 input[type="text"],
.form-group1 input[type="password"],
.form-group1 input[type="email"],
.form-group1 select,
.form-group1 input[type="radio"],
.form-group1 select {
    width: 65%;
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 1px solid var(--text);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text);
    box-shadow: 0 0 5px #0d080c; /* Adds dark glow effect with the specified color */
    transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
    position: relative;
}

.form-group1.focus-with-glow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #0d080c;
    border-radius: 5px;
    box-shadow: 0 0 5px #0d080c; /* Add a glow effect with the specified shade */
    pointer-events: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group1 input[type="text"]:focus,
.form-group1 input[type="password"]:focus,
.form-group1 input[type="email"]:focus,
.form-group1 select:focus,
.form-group1 input[type="radio"]:focus,
.form-group1 select:focus {
    background-color: #714770;
}

.radio-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-inline: 9%;
}

/* Style the custom radio input */
.radio-label {
    color: var(--text);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

/* Button styles */
.btn-primary {
    background-color: var(--primary);
    color: #f5eff5;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 7px;
    cursor: pointer;
    width: 100%;
    transition: 0.5s;
    border: 2px solid var(--accent);
    box-shadow: 0 0 10px var(--accent);
}

/* Button styles */
.btn-primary:hover {
    background-color: #51314e;
}

.login-link {
    color: #714770;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.login-link:hover {
    text-decoration: underline;
}

.text-align-center {
    text-align: center;
    justify-content: center;
}