:root {
  --text: #f5eff5;
  --background: #0d080c;
  --primary: #714770;
  --secondary: #51314e;
  --accent: #a168a0;
}

body {
  background-color: var(--background);
  font-family: Arial;
  color: var(--text);
  margin: 0;
  padding: 0;
}

.ribbon {
    background-color: #714770;
   justify-content: space-between;
    height: 50px;
    display: flex;
}


.text-style {
  color: #f5eff5;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.text-style:hover {
  background-color: #51314e;
}

.mudli {
  font-size: 30px !important; 
}

.contactUs-button {
  background-color: transparent;
  color: #f5eff5;
  text-decoration: none;
  padding: 10px;
  font-size: 16px; 
  align-items: center;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.contactUs-button:hover {
  background-color: #51314e;
}

.Name {
  align-items: center;
  display: flex;
  margin-right: 70vw;
  margin-left: 20px;
}

.ribbon a {
  color: var(--text);
  text-decoration: none;
}

form {
  background-color: #201f20;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  border-radius: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

    form h2 {
  color: var(--text);
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-container {
  background-color: #0d080c;
  margin-top: 0;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 92%;
  display: flex;
  flex-direction: column;
  border: 2px solid #714770;
  box-shadow: 0 0 10px #714770;
}

/* Form group common styles */
form .form-group {
  width: 65%;
  position: relative;
}

/* Style the radio input container (remove border and add margin) */
.radio-buttons {
    display: flex;
    align-items: center;
    margin-top: 7px;
    width: 55%;
}

/* Style the custom radio input */
.radio-label {
    color: var(--text);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 8px; /* Add spacing between labels */
}

    .radio-label input[type="radio"] {
        margin-right: 12px;
    }

        /* Style the custom radio input when selected */
        .radio-label input[type="radio"]:checked + .radio-input {
            background-color: var(--primary);
            border: none; /* Remove the border */
        }

/* Form field styles */
form input[type="text"],
form input[type="password"],
form input[type="email"],
form select,
form input[type="radio"],
form select {
  margin-top: 7px;
  margin-bottom: 7px;
    width: 53%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--text);
  border-radius: 5px;
  background-color: transparent;
  color: var(--text);
  box-shadow: 0 0 5px #0d080c;
  transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
}

form label {
  font-weight: bold;
  color: var(--text);
  display: block;
    width: 57%;
  margin-top: 7px;
  margin-bottom: 7px;
}

/* Form field focus styles */
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form select:focus,
form input[type="radio"]:focus,
form select:focus {
  background-color: #714770;
}

/* Form group focus with glow effect styles */
form .form-group.focus-with-glow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #0d080c;
  border-radius: 5px;
    box-shadow: 0 0 5px #0d080c;
  pointer-events: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group1 {
  display: flex;
  flex-direction: column;
    width: 58%;
}

.form-group1 label {
  font-weight: bold;
  color: var(--text);
  width: 65%;
  margin-top: 7px;
  margin-bottom: 7px;
}

.form-group1 input[type="text"],
.form-group1 input[type="password"],
.form-group1 input[type="email"],
.form-group1 select,
.form-group1 input[type="radio"],
.form-group1 select {
  width: 65%;
  padding: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  border: 1px solid var(--text);
  border-radius: 5px;
  background-color: transparent;
  color: var(--text);
  box-shadow: 0 0 5px #0d080c; /* Adds dark glow effect with the specified color */
  transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
  position: relative;
}

.form-group1.focus-with-glow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #0d080c;
  border-radius: 5px;
  box-shadow: 0 0 5px #0d080c; /* Add a glow effect with the specified shade */
  pointer-events: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group1 input[type="text"]:focus,
.form-group1 input[type="password"]:focus,
.form-group1 input[type="email"]:focus,
.form-group1 select:focus,
.form-group1 input[type="radio"]:focus,
.form-group1 select:focus {
  background-color: #714770;
}

/* Button styles */
.btn-primary {
    background-color: #0d080c;
    color: #f5eff5;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 7px;
    cursor: pointer;
    width: 65%;
    transition: 0.5s;
    border: 2px solid #714770;
    box-shadow: 0 0 10px #714770;
    text-align: center;
}

/* Button styles */
form .btn-primary {
    background-color: #0d080c;
    color: #f5eff5;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 7px;
    cursor: pointer;
    width: 58%;
    transition: 0.5s;
    border: 2px solid #714770;
    box-shadow: 0 0 10px #714770;
}

    form .btn-primary:hover {
  background-color: #51314e;
}

.login-link {
  color: #714770;
  text-decoration: none;
    font-size: 14px;
  cursor: pointer;
}

.login-link:hover {
  text-decoration: underline;
}