:root {
    font-size: 16px;
    font-family: Arial, sans-serif;
    --text: #f5eff5;
    --background: #0d080c;
    --primary: #714770;
    --secondary: #51314e;
    --secondary-darker: #41273e;
    --accent: #a168a0;
    --lighter-background: #170e15;
}

.back-btn {
    color: #f5eff5;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

    .back-btn:hover {
        background-color: #51314e;
    }

.rwd-table {
    margin: 1em auto;
    min-width: 300px;
    max-width: 100%;
    border-collapse: collapse;
}

    .rwd-table tr:first-child {
        border-top: none;
        background: var(--primary);
        color: #fff;
    }

    .rwd-table tr {
        border-top: 1px solid #ddd;
        background-color: var(--secondary);
    }

        .rwd-table tr:nth-child(odd):not(:first-child) {
            background-color: var(--secondary-darker);
        }

    .rwd-table th {
        display: none;
    }

    .rwd-table td {
        display: block;
    }

        .rwd-table td:first-child {
            margin-top: .5em;
        }

        .rwd-table td:last-child {
            margin-bottom: .5em;
        }

        .rwd-table td:before {
            content: attr(data-th) ": ";
            font-weight: bold;
            width: 120px;
            display: inline-block;
            color: var(--text);
        }

    .rwd-table th,
    .rwd-table td {
        text-align: left;
    }

.rwd-table {
    color: var(--text);
    border-radius: .4em;
    overflow: hidden;
}

    .rwd-table tr {
        transition: 0.5s;
        border-color: #bfbfbf;
    }

    .rwd-table th,
    .rwd-table td {
        padding: .5em 1em;
    }

    .rwd-table .remove-user-column {
        border-left: 1px solid #bfbfbf;
    }

    .rwd-table .add-post {
        height: 30px;
        width: 30px;
    }

        .rwd-table .add-post:hover {
            background-color: var(--primary);
            color: var(--background);
        }

        .rwd-table .add-post:active {
            background-color: var(--secondary);
            color: var(--text);
        }

@media screen and (max-width: 801px) {
    .rwd-table tr:nth-child(2) {
        border-top: none;
    }
}

@media screen and (min-width: 800px) {
    .rwd-table tr:hover:not(:first-child) {
        background-color: var(--accent);
    }

    .rwd-table td:before {
        display: none;
    }

    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }

        .rwd-table th:first-child,
        .rwd-table td:first-child {
            padding-left: 0;
        }

        .rwd-table th:last-child,
        .rwd-table td:last-child {
            padding-right: 0;
        }

    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }

        .rwd-table td:last-child,
        .rwd-table .add-user-cell {
            padding: 0.8em !important;
        }
}


.table-container {
    margin-top: 2em;
    display: block;
    text-align: center;
}

@-webkit-keyframes leftRight {
    0% {
        -webkit-transform: translateX(0)
    }

    25% {
        -webkit-transform: translateX(-10px)
    }

    75% {
        -webkit-transform: translateX(10px)
    }

    100% {
        -webkit-transform: translateX(0)
    }
}

@keyframes leftRight {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(-10px)
    }

    75% {
        transform: translateX(10px)
    }

    100% {
        transform: translateX(0)
    }
}
