@{
	ViewData["Title"] = "Create Course";
    ViewData["Faculties"] = new string[]
	{
	"Mathematics and Informatics",
	"Chemistry and Geosciences",
	"Physics",
	"Filology"
	};
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Course</title>
    <link rel="stylesheet" href="~/css/CreateCourseStyle.css" asp-append-version="true" />
</head>

<body>

    <div class="ribbon">
        <div class="Name">
            <a>Mudli</a>
        </div>
    </div>
    <form method="post" asp-action="Login" class="registration-form">
        <header class="form-container">
            <h2>Create Course</h2>
        </header>
        <div class="form-info-container">
            <label for="">Course name:</label>
            <input type="text" id="" name="CourseName" value="" class="form-control" required />
            <label for="">Faculty:</label>
            <select id="faculty" name="faculty" class="form-group1" required>
                <option value="" disabled selected>Select Faculty</option>
                @foreach (var faculty in ViewData["Faculties"] as string[])
                {
                <option>@faculty</option>
                }
            </select>
            <label for="">Course decription:</label>
            <textarea type="text" id="" name="CourseDecription" value="" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn-primary">Create course</button>
    </form>
</body>
</html>