@model Course
@{
    ViewData["Title"] = "Edit Course";
    ViewData["Faculties"] = new string[]
    {
    "Mathematics and Informatics",
    "Chemistry and Geosciences",
    "Physics",
    "Filology"
    };
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Course</title>
    <link rel="stylesheet" href="~/css/CreateCourseStyle.css" asp-append-version="true" />
</head>

<body>

    <div class="ribbon">
        <div class="Name">
            <a>Mudli</a>
        </div>
    </div>
    <form method="post" asp-controller="Course" asp-action="Edit" class="registration-form">
        <header class="form-container">
            <h2>Edit Course</h2>
        </header>
        <input type="hidden" id="Id" name="Id" asp-for="Id" value="@Model.Id" />
        <input type="hidden" id="CreationDate" name="CreationDate" asp-for="CreationDate" value="@Model.CreationDate" />
        <input type="hidden" id="IsPublic" name="IsPublic" asp-for="IsPublic" value="@Model.IsPublic" />
        <div class="form-info-container">
            <label for="Name">Course name:</label>
            <input type="text" id="Name" name="Name" asp-for="Name" class="form-control" required />
            <span class="text-danger"></span>

            <label for="Faculty">Faculty:</label>
            <select id="Faculty" name="Faculty" class="form-group1" required>
                <option value="" disabled selected>Select Faculty</option>
                @foreach (var faculty in ViewData["Faculties"] as string[])
                {
                    <option>@faculty</option>
                }
            </select>
            <span class="text-danger"></span>

            <label for="Description">Course description:</label>
            <textarea id="Description" name="Description" asp-for="Description" class="form-control"></textarea>
            <span class="text-danger"></span>

            <div>
                <label for="Visibility" class="radio-label">
                    Is course visible?
                    <input type="checkbox" id="Visibility" asp-for="IsVisible"/>
                </label>
            </div>
            <span class="text-danger"></span>
        </div>

        <button type="submit" class="btn-primary">Edit course</button>
        <a asp-action="Index" asp-controller="Course" class="text-style" style="text-decoration: none; color: #ffffff;">Back</a>
    </form>
</body>
</html>