@model IEnumerable<Course>
@{
    ViewData["Title"] = "Courses";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Courses</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CoursesStyle.css" asp-append-version="true" />
</head>

<body>
    <div class="ribbon">
        <div class="Name">
            <a class="text-style">Mudli</a>
        </div>
        <div class="logout-button">
            <a asp-action="Index" asp-controller="PublicCourse" class="text-style" style="text-decoration: none; color: #ffffff;">Public courses</a>
        </div>
        <div class="logout-button">
            <a asp-action="Index" asp-controller="Course" class="text-style" style="text-decoration: none; color: #ffffff;">My Courses</a>
        </div>
        <div class="logout-button">
            <a asp-action="Index" asp-controller="Home" class="text-style" style="text-decoration: none; color: #ffffff;">Log out</a>
        </div>
    </div>
    <div class="courses-header">
        <a>Courses</a>
    </div>
    <div>
        <div class="course-navigation-array">
            <input placeholder="Search course...">
        </div>

        <div class="container">
            <div class="card-group">
                @foreach(Course course in Model)
                {
                    @if (!course.IsPublic && course.IsVisible)
                    {
                        <a asp-action="Index" asp-controller="CourseEnvironment" asp-route-courseId="@course.Id" style="text-decoration: none; color: #ffffff;">
                            <div class="card">
                                <div class="card-image">
                                    <img src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d3JpdGluZyUyMGElMjBib29rfGVufDB8fDB8fHww&w=1000&q=80">
                                </div>
                                <div class="invisible-box"></div>
                                <div class="card-body">
                                    <div class="course-title-holder">
                                        <h3>@course.Name</h3>
                                    </div>
                                    <div class="course-description-holder">
                                        <p>@course.Description</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
        <div class="ribbon"></div>
</body>
</html>
