@model IEnumerable<Course>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/CourseDisplay.css" asp-append-version="true" />

<!--Add/ Delete / Edit courses-->
<!--Add links to courses-->
<section class="container">
    <div class="row">
        <div class="col-6">
            <h2>Courses Information</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Course" asp-action="Create">Create Category</a>
        </div>
    </div>
</section>

<section class="course-grid">
    @foreach(var obj in Model)
    {
        <div class="course-preview">
            <div class="course-info">
                <p class="course-name">@obj.Name</p>
            </div>
        </div>
    }
</section>

