@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/CourseDisplay.css" asp-append-version="true" />

<h1>Courses Information</h1>

<!--Add/ Delete / Edit courses-->
<!--Add links to courses-->

