@model IEnumerable<Post>
@{
    ViewData["Title"] = "Course Environment";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Courses</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CoursesStyle.css" asp-append-version="true" />
</head>

<body>
    <div class="ribbon">
        <div class="Name">
            <a class="text-style">Mudli</a>
        </div>
        <div class="logout-button">
            <a asp-action="Index" asp-controller="Home" class="text-style" style="text-decoration: none; color: #ffffff;">Log out</a>
        </div>
    </div>
    @foreach (Post post in Model)
    {
        @switch (post.postType)
        {
            case PostType.Text:
                <p>@post.DataToString()</p>
                break;
        }
    }
</body>
</html>
