@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/ribbon.css">
</head>

<div class="ribbon">
    <div class="project-name-container">
        <a class="name">Mudli</a>
    </div>
    <div class="buttons-container">
        <div class="button">
            <a asp-action="Index" asp-controller="LogIn" class="text-style">Log in</a>
        </div>
    </div>
</div>

<div class="bg-picture">
    <h2 class="welcome-text">Welcome to our page</h2>
</div>
<div>
    <div class="centered-text">
        <h1>About us</h1>
    </div>
    <div class="about-us-columns">
        <div class="column">
            <h2 class="centered-text">What we are</h2>
            <a>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id risus iaculis, cursus felis quis, fermentum nulla. Vivamus lectus mauris, varius id pellentesque sed, gravida vitae erat. Quisque pulvinar, nibh non commodo convallis, erat odio rutrum dolor, sed varius justo odio nec eros. Mauris tincidunt tellus in magna convallis, quis cursus eros posuere. Donec non eleifend justo. Praesent dictum ex eros, sollicitudin consectetur massa varius ut. Praesent blandit, massa sit amet ullamcorper molestie, dui nisi efficitur ex, ac aliquam ligula erat quis ligula. Pellentesque at iaculis sem. Sed dapibus hendrerit urna quis ullamcorper. Pellentesque euismod placerat sapien tempus rhoncus.

                Ut in metus sit amet tortor porttitor tempus cursus ac tellus. Phasellus tempor neque eget nisi imperdiet, quis consequat orci mollis. Curabitur bibendum ultricies sollicitudin. Integer imperdiet ut arcu nec fermentum. In fringilla tempor tempor. Nunc porta volutpat sem, a scelerisque felis sollicitudin lobortis. Nunc ut mauris tellus. Nunc lacinia ipsum dui, eget lobortis augue vulputate vestibulum. Quisque efficitur nulla id metus hendrerit, non finibus neque congue. Nulla facilisi. Integer ac risus nunc. Cras dui enim, finibus at orci in, elementum faucibus est.
            </a>
        </div>
        <div class="column">
            <h2 class="centered-text">What is our project</h2>
            <a>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id risus iaculis, cursus felis quis, fermentum nulla. Vivamus lectus mauris, varius id pellentesque sed, gravida vitae erat. Quisque pulvinar, nibh non commodo convallis, erat odio rutrum dolor, sed varius justo odio nec eros. Mauris tincidunt tellus in magna convallis, quis cursus eros posuere. Donec non eleifend justo. Praesent dictum ex eros, sollicitudin consectetur massa varius ut. Praesent blandit, massa sit amet ullamcorper molestie, dui nisi efficitur ex, ac aliquam ligula erat quis ligula. Pellentesque at iaculis sem. Sed dapibus hendrerit urna quis ullamcorper. Pellentesque euismod placerat sapien tempus rhoncus.

                Ut in metus sit amet tortor porttitor tempus cursus ac tellus. Phasellus tempor neque eget nisi imperdiet, quis consequat orci mollis. Curabitur bibendum ultricies sollicitudin. Integer imperdiet ut arcu nec fermentum. In fringilla tempor tempor. Nunc porta volutpat sem, a scelerisque felis sollicitudin lobortis. Nunc ut mauris tellus. Nunc lacinia ipsum dui, eget lobortis augue vulputate vestibulum. Quisque efficitur nulla id metus hendrerit, non finibus neque congue. Nulla facilisi. Integer ac risus nunc. Cras dui enim, finibus at orci in, elementum faucibus est.
            </a>
        </div>
        <div class="column">
            <h2 class="centered-text">What have we done</h2>
            <a>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id risus iaculis, cursus felis quis, fermentum nulla. Vivamus lectus mauris, varius id pellentesque sed, gravida vitae erat. Quisque pulvinar, nibh non commodo convallis, erat odio rutrum dolor, sed varius justo odio nec eros. Mauris tincidunt tellus in magna convallis, quis cursus eros posuere. Donec non eleifend justo. Praesent dictum ex eros, sollicitudin consectetur massa varius ut. Praesent blandit, massa sit amet ullamcorper molestie, dui nisi efficitur ex, ac aliquam ligula erat quis ligula. Pellentesque at iaculis sem. Sed dapibus hendrerit urna quis ullamcorper. Pellentesque euismod placerat sapien tempus rhoncus.

                Ut in metus sit amet tortor porttitor tempus cursus ac tellus. Phasellus tempor neque eget nisi imperdiet, quis consequat orci mollis. Curabitur bibendum ultricies sollicitudin. Integer imperdiet ut arcu nec fermentum. In fringilla tempor tempor. Nunc porta volutpat sem, a scelerisque felis sollicitudin lobortis. Nunc ut mauris tellus. Nunc lacinia ipsum dui, eget lobortis augue vulputate vestibulum. Quisque efficitur nulla id metus hendrerit, non finibus neque congue. Nulla facilisi. Integer ac risus nunc. Cras dui enim, finibus at orci in, elementum faucibus est.
            </a>
        </div>
    </div>
</div>